.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  color: white;
  z-index: 99;
  padding-bottom: 10px;
}
.header.flag-under{
  background-color: white;
}
.header .header-inner::after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  height: 109px;
  transition: opacity 400ms linear, height 400ms linear;
  z-index: -1;
}
.header.active .header-inner::after{
  opacity: 1;
  background-color: white;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1240px;
  min-width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
}
.header-container h1{
  margin-top: 37px;
}
.header-right{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.header-top{
  margin-bottom: 25px;
  margin-right: 80px;
}
.header-top ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-top a{
  display: inline-block;
  margin-right: 10px;
  color: white;
  position: relative;
}
.header.active .header-top a,
.header.flag-under .header-top a{
  color: gray;
}
.header-top a::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: white;
  margin-left: 9px;
}
.header.active .header-top a::after{
  background-color: gray;
}
.header-top a.no-vir::after{
  display: none;
}
.header-top a.employ{
  padding-left: 17px;
  background-image: url(../images/recreits_off.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
.header.active .header-top a.employ,
.header.flag-under .header-top a.employ{
  color: #008944;
  background-image: url(../images/recreits_on.png);
}
.header-top a#btn-quick-menu-open{
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 8px;
  width: 71px;
  height: 17px;
  line-height: 15px;
  font-size: 10px;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}
.header.active .header-top a#btn-quick-menu-open,
.header.flag-under .header-top a#btn-quick-menu-open{
  color: gray;
  border: 1px solid gray;
}
.header-nav{
  font-size: 15px;
  text-align: center;
  margin-right: 50px;
}
.header-nav .depth1{
  display: flex;
}
.depth1-item{
  margin-left: 19px;
  width: 149px;
}
.depth1 .nav-tit{
  position: relative;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  height: 57px;
}
.header.active .depth1 .nav-tit,
.header.flag-under .depth1 .nav-tit{
  color: black;
}
.depth1 .nav-tit a{
  display: block;
  width: 100%;
}
.nav-tit .line{
  position: absolute;
  left: 0;
  right: auto;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.header.active .line{
  width: 100%;
  transition-duration: 0.9s;
  transition-delay: 0.85s;
}
.nav-tit .line::after,
.nav-tit .line::before{
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  bottom: 0;
}
.nav-tit .line::before{
  left: 0;
  width: 100%;
  z-index: 0;
  background-color: #cfcfcf;
}
.nav-tit .line::after{
  left: auto;
  right: 0;
  width: 0;
  z-index: 100;
  background: linear-gradient(90deg, rgba(67,176,42,1) 0%, rgba(0,169,224,1) 100%);
  transition: width 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.nav-tit.active .line::after{
  left: 0;
  right: auto;
  width: 100%;
}
.header-nav .depth2{
  color:black;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.header.active .depth2{
  opacity: 1;
  height: 100%;
  transition: opacity 400ms linear, height 400ms linear;
  margin-top: 30px;
}
.depth2 li{
  height: 37px;
}
.header-nav-bg{
  position: absolute;
  left: 0;
  right: 0;
  top: 104px;
  height: 0;
  opacity: 0;
  z-index: -2;
  transition: opacity 400ms linear, 0.8s;
  background-color: white;
}
.header.active .header-nav-bg{
  height: 400px;
  opacity: 1;
}