:root{
  font-family: 'Noto Sans KR','맑은 고딕',sans-serif;
  font-size: 12px;
  color: black;
}
.container{
  position: relative;
  min-width: 1240px;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
}
a.view-more{
  position: absolute;
  width: 100px;
  padding-bottom: 3px;
  padding-left: 3px;
  border-bottom: 1px solid #b2b2b2;
  font-size: 15px;
  background-image: url(../images/more.png);
  background-repeat: no-repeat;
  background-position: 90px;
  color: #666666;
}
#main{
  overflow: hidden;
}