#skip-menu a{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  transform: translate(0,-110%);
  transition: 0.4s;
  padding: 1em 2em;
  background-color: black;
  font-weight: 900;
  font-size: 64px;
  color: #f7f7f7;
  text-align: center;
  display: inline-block;
}
#skip-menu a:focus{
  transform: translate(0%,0%);
}